---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

# Main Research Projects 
+ Director, [FOVI Project "Artificial Intelligence and Robotics for Remote and Proximal Sensing in Precision Agriculture"](https://rodrigo.verschae.org/fovi2025/), [Universidad de O'Higgins](http://www.uoh.cl), Chile
+ Director, [FIC Project "Technologies for risk management in cherry production"](https://cerezas.uoh.cl/), [Universidad de O'Higgins](http://www.uoh.cl), Chile
+ Director(alternate), Technological Research Fondef IDeA 2023 - IT23I0012 “Pedagogical management system for the mathematics classroom based on intelligent games and recommendations”, [Universidad de O'Higgins](http://www.uoh.cl), Chile

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

