<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
<body>
<nav>
<div id="navigation">
	<a class="navigation" href="/" title="Introduction and Contact Information">Home</a>
	<a class="navigation" href="research" title="Current and Past Projects and Grants">Research</a>
	<a class="navigation" href="pub" title="Publications">Publications</a>
	<a class="navigation" href="resume" title="Resume">Resume</a>
</div>

</nav>
<div class="container">
{{ content }}
</div><!-- /.container -->
<footer>
<ul>
	<li>email: rodrigo [@] verschae [dot] org</li>
<li><a href="http://rodrigo.verschae.org">rodrigo.verschae.org</a></li>
</ul>
</footer>
</body>
</html>

